<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title>Tabeebi - GCC's Ultimate Health Directory.</title>
    
    <meta name="description" content="Tabeebi is an iPhone application that includes data from 22+ insurance networks covered and more than 6000 hospitals, clinics and pharmacies from the GCC countries: Bahrain, Kuwait, United Arab Emirates (UAE), Oman, Qatar - with the ability to search within their cities and streets." />
    <meta name="keywords" content="insurance, hospital, clinic, pharmacy, Dubai, Abu Dhabi, Manama, Doha, Muscat, Riyadh, Jeddah, Kuwait City" />

    <meta property="og:title" content="Tabeebi iPhone App" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.tabeebiapp.com" />
    <meta property="og:image" content="http://www.tabeebiapp.com/site_media/img/logo.png" />
    <meta property="og:site_name" content="Tabeebi App" />
    <meta property="fb:admins" content="1061055979" />

    <link rel='index' title='Tabeebi Mobile Application' href='http://www.tabeebiapp.com/' />
    <link rel="shortcut icon" href="/site_media/img/favicon.ico"/>


    <!--   TO BE FILLED with the proper paths
    <link rel="canonical" href="canonical adress" />
    end of TO BE FILLED -->
    
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='/site_media/css/style.css' rel='stylesheet' media='screen' />
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=132385230262501";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <div class="container">
            <a href="#" title="Tabeebi - GCC's Ultimate Health Directory."><img src="/site_media/img/logo.png" alt="Tabeebi - GCC's Ultimate Health Directory." /></a>
            <p>GCC's Ultimate Health Directory.</p>
            <a class="btn_green" href="https://itunes.apple.com/us/app/tabeebi/id598574647?ls=1&mt=8" title="Tabeebi - KEYWORDS FOR THIS">Get this app</a>
        </div>
    </header>

    <div class="content">
        <div class="container">
            <div class="slider_wrapper">
                <section class="slide_1">
                    <div class="phones">
                        <img src="/site_media/img/slide_1_img.jpg" alt="Tabeebi - keywords for this" />
                    </div>
                    <div class="text">
                        <h1>What is Tabeebi?</h1>
                        <h2>Tabeebi is a health directory that enables people in the GCC (Gulf) countries to find the nearest hospitals, pharmacies, clinics, and other medical institutions based on what their insurance networks cover.</h2>
                    </div>
                </section>
                <section class="slide_2 hidden">
                    <div class="phones">
                        <img src="/site_media/img/slide_2_img.jpg" alt="Tabeebi - keywords for this" />
                    </div>
                    <div class="text">
                        <h1>How does it work</h1>
                        <h2>Once you download the app, select your medical insurance networks from the list. The app will request your permission to detect your city and area. Upon approval, you're all set! You can easily start searching through nearby medical outlets where you're covered.</h2>
                    </div>
                </section>
                <section class="slide_3 hidden">
                    <img src="/site_media/img/slide_3_img.png" alt="Tabeebi - keywords for this" />
                    <div class="text">
                        <h1>How’s the information collected?</h1>
                        <h2>Apart from our up-to-date research on insurance network data, the information is being crowdsourced by users of the application. It's constantly being updated based on user submissions.</h2>
                    </div>
                </section>
                <section class="slide_4 hidden">
                    <div class="phones">
                        <img src="/site_media/img/slide_4_img.jpg" alt="Tabeebi - keywords for this" />
                    </div>
                    <div class="text">
                        <h1>Why use Tabeebi?</h1>
                        <h2>Tabeebi includes data from 22+ insurance networks covered and more than 6000 hospitals, clinics and pharmacies from the GCC countries: Bahrain, Kuwait, United Arab Emirates (UAE), Oman, Qatar - with the ability to search within their cities and streets. </h2>
                    </div>
                </section>
                <section class="slide_5 hidden">
                    <div class="text">
                        <h1>How to Participate</h1>
                        <h2>Don't find your network or hospital/institution?
                            Make us aware of it via the contact link below and we'll update our data accordingly, provided we could collect sufficient up-to-date information on said network or hospital.</h2>
                    </div>
                </section>
                <section class="slide_6 hidden">
                    <div class="phones">
                        <img src="/site_media/img/slide_5_img.jpg" alt="Tabeebi - keywords for this" />
                    </div>
                    <div class="text">
                        <h1>Get it now!</h1>
                        <h2>The app is available on the Apple Store.</h2>
                        <a class="btn_green" href="https://itunes.apple.com/us/app/tabeebi/id598574647?ls=1&mt=8" title="Tabeebi - KEYWORDS FOR THIS">Get this app</a>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="social">
                <div class="item">
                <div class="fb-like" data-href="http://www.tabeebiapp.com" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
                </div>
                <div class="item">
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>

            <nav>      
                <a href="mailto:info@tabeebiapp.com" title="Tabeebi - Contact us">Contact us: info [at] tabeebiapp.com</a>
                <!-- &#8226;
               <a href="#" title="Tabeebi - Submit a network">Submit a network</a>-->
            </nav>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/site_media/js/script.js"></script>
    <!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js" type="text/javascript"></script><![endif]-->
</body>
</html>